/* BODY */
body
{
	background-color: #4B4B4B;
	color: white;
}

h1
{
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}





/* MENU */
.menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.menu_elements
{
	border: 2px solid black;
	text-align: center;
	width: 300px;
}

.menu_elements:hover
{
	border: 2px solid black;
	text-align: center;
	width: 500px;
}





/* SALLES LIBRES */
.salles_libres_containeur
{
	border: 2px solid black;
	margin-top: 20px;
	margin-bottom: 40px;
}

.titre_salles_libres
{
	text-align: center;
}





/* CARTE */
.carte_esiee
{
}

.rue
{
	text-align: center;
	border: 2px solid black;
	margin-bottom: 10px;
}

.epis_containeur
{
	display: flex;
	justify-content: space-around;
}

.epi
{
	width: 250px;
	border: 2px solid black;
	text-align: center;
}

.epi:hover
{
	width: 500px;
	height: 500px;
	border: 2px solid black;
	text-align: center;
}







/* FOOTER */
footer
{
	margin-top: 50px;
	border-top: 2px solid grey;
	text-align: center;
}