/* BODY */
body
{
	background-color: #4B4B4B;
	color: white;
}



/* TITRE */
.titre
{
	font-size: 40px;
	text-align: center;
	font-family: Trebuchet MS;
}



/* MENU */
#conteneur
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 70px;
}

#element
{
	border: 1px black solid;
	flex:1;
}

#strong
{
	text-align: center;
	font-family: Trebuchet MS;
}



/* Carte de l'école */
.div_epi
{
	display: flex;
	flex-direction : row;
}

.epi
{
	border: 2px black solid;
	margin: 5px;
	height: 400px;
	text-align:center;
	flex: 1;
}

.rue
{
	border: 2px black solid;
	height: 100px;
	text-align:center;
}
}
